extends ../shared/template/layout/_default

block vars
  -
    var title = 'bg-image'

block main
  .test-main
    .js-section.test-section.one
      .test-wrap
        .js-image.test-image-wrap.one
          .test-image-inner.one
            .test-image.one(style='background-image: url(./image/lady.jpg)')
        .js-image.test-image-wrap.two
          .test-image-inner.two
            .test-image.two(style='background-image: url(./image/lady.jpg)')
        .js-image.test-image-wrap.three
          .test-image-inner.three
            .test-image.three(style='background-image: url(./image/lady.jpg)')
    .js-section.test-section.two
      .test-wrap
        .js-image.test-image-wrap.one
          .test-image-inner.one
            .test-image.one(style='background-image: url(./image/canyon.jpg)')
        .js-image.test-image-wrap.two
          .test-image-inner.two
            .test-image.two(style='background-image: url(./image/canyon.jpg)')
        .js-image.test-image-wrap.three
          .test-image-inner.three
            .test-image.three(style='background-image: url(./image/canyon.jpg)')
    .js-section.test-section.three
      .test-wrap
        .js-image.test-image-wrap.one
          .test-image-inner.one
            .test-image.one(style='background-image: url(./image/mount.jpg)')
        .js-image.test-image-wrap.two
          .test-image-inner.two
            .test-image.two(style='background-image: url(./image/mount.jpg)')
        .js-image.test-image-wrap.three
          .test-image-inner.three
            .test-image.three(style='background-image: url(./image/mount.jpg)')
