@import '../shared/styles/import';
@import '../shared/icons/css/icons';

$test: #fff;

.body {
  color: $test;
}

.test-main {
  width: 100%;
  height: 100vh;
  position: relative;
}

.test-section {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;

  &.one {
    z-index: 3;
  }

  &.two {
    z-index: 2;
  }

  &.three {
    z-index: 1;
  }
}

.test-wrap {
  width: 100%;
  height: 100%;
  position: relative;
}

.test-image-wrap {
  width: 100%;
  height: 33.333%;
  position: absolute;
  left: 0;
  overflow: hidden;
  box-sizing: border-box;

  &.one {
    top: 0;
  }

  &.two {
    top: 33.333%;
  }

  &.three {
    top: 66.666%;
  }
}

.test-image-position {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.test-image-inner {
  width: 100%;
  height: 100vh;
  position: relative;
}

.test-image {
  width: 100%;
  height: 100%;
  background-color: #000;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;

  &.one {
    top: 0;
  }

  &.two {
    top: -33.333%;
  }

  &.three {
    top: -66.666%;
  }
}
